@font-face {
  font-family: "Sauce Code Powerline";
  src: url("./Sauce Code Powerline Light.otf");
}

body {
  background: green;
}

.code {
  font-family: "Sauce Code Powerline";
  font-size: 16px;
  color: #333;
}
